<ion-header [translucent]="true" style="border-bottom: solid 3px #07B5CA;">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="color: #07B5CA; font-weight: bold; font-family: 'Poppins';">
      Mapa de la Clinica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <iframe id="map-viewer-iframe" style="width:100%; height:100%"
    src="https://map-viewer.situm.com?apikey=89805c6826a614b4c0e38049d4699921b7d3527e3285923ddff11df43bec680f&domain=">
  </iframe>

</ion-content>
